@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

button {
	all: unset;
}

body {
	margin: 0;
	width: 100%;
	background-color: #f8ede3;
}

header {
	margin: 0;
	width: 100%;
	background-color: #d0b8a8;
}

.header-container {
	margin: 0 auto;
	width: 100%;
	max-width: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header-nav-btn {
	flex-basis: 1;
	width: 10%;
	padding: 10px;
}

.header-nav-btn button {
	display: block;
	width: 100%;
	cursor: pointer;
}

.header-nav-btn:hover {
	background-color: #705a4c;
}

.header-nav-btn button img {
	display: block;
	margin: 0 auto;
	width: 70%;
}

.header-logo {
	width: 90%;
	flex-basis: 2;
}

.header-nav {
	display: none;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.header-nav nav {
	width: 40%;
	height: 100vh;
	margin: 0;
	background-color: rgba(208, 184, 168, 0.7);
	text-align: left;
}

.header-nav nav ul {
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
	list-style: none;
}

.header-nav nav ul li {
	margin: 0 auto;
	background-color: #705a4c;
	margin-bottom: 5px;
}

.header-nav nav ul li a {
	display: block;
	margin: 0;
	color: white;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 900;
}

.header-nav nav ul li a:hover {
	background-color: #d0b8a8;
	color: #705a4c;
}

.header-nav .nav-back {
	margin: 0;
	width: 70%;
	height: 100vh;
	background-color: transparent;
}

/* Main */

main {
	width: 100%;
	margin: 0 auto;
}

.main-container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.main-hero {
	margin-top: 20px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #d0b8a8;
}

.main-hero-img {
	width: 100%;
	margin-top: 20px;
}

.main-hero-img img {
	display: block;
	width: 100%;
	object-fit: contain;
}

.main-hero-dec {
	width: 100%;
	padding: 40px;
	text-align: center;
}

.main-hero-dec h2 {
	font-size: 18px;
	font-weight: unset;
	font-style: italic;
}
